* annex.largefiles=largerthan=100kb
*/input/**  annex.largefiles=anything
*/output/**  annex.largefiles=anything
*/data/**  annex.largefiles=anything
scripts/*.sh annex.largefiles=nothing
scripts/*.bash annex.largefiles=nothing
scripts/*.slurm annex.largefiles=nothing
scripts/*.txt annex.largefiles=largerthan=50kb
scripts/*.Rmd annex.largefiles=nothing
scripts/*.R annex.largefiles=nothing
scripts/*.py annex.largefiles=nothing
scripts/*.rules annex.largefiles=nothing
scripts/*.ipynb annex.largefiles=largerthan=2Mb

*.sh annex.largefiles=nothing
*.bash annex.largefiles=nothing
*.slurm annex.largefiles=nothing
*.txt annex.largefiles=largerthan=50kb
*.Rmd annex.largefiles=nothing
*.R annex.largefiles=nothing
*.py annex.largefiles=nothing
*.rules annex.largefiles=nothing
*.ipynb annex.largefiles=largerthan=2Mb

